<!DOCTYPE html>
<html ng-app>
   <head>
      <script src = "../../directives/FallingChar/FallingChar.js"></script>
   </head>
   <style>
      @keyframes example {
      0% {
      background-color: red;
      opacity: 1.0;
      -webkit-transform: scale(1.0) rotate(0deg);
      }
      50% {
      background-color: blue;
      }
      100% {
      background-color: {{fallSpeed}};
      }
      }
   </style>
   <body data-ng-app="body" style="background-color:black;">
      <p>
         <button onclick="myMove()">Click Me</button> 
      </p>
      <div>
         <label>Fall Speed:</label>
         <input id="fallSpeed" width="auto" type = "text" ng-model = "fallSpeed" placeholder = "Fall Speed" ng-keypress="myMove()">
         <hr/>
         <h1>Hello !</h1>
      </div>
      <div id ="myAnimation"></div>
      <div id="digitalRain"></div>
   </body>
   <script>
      document.onkeydown = function (evt) {
      
          evt = evt || window.event;
          var charCode = evt.keycode || evt.which;
          var char = getChar(charCode);
          createFallingChar(char);
      
      };
      
      function myMove() {
      
      document.body.style.animationName = 'example';
      document.body.style.animationDuration = '4s';
      
      setTimeout( function() {
              document.body.style.animationName = "";
      }, 4000);
      
      }
      
      
   </script>
</html>